:root {
    --morado-oscuro: #200232;
    --morado-claro: #e7d9ff;
    --morado-claro2: #d9c3ff;
    --gris-texto: #6e6e6e;
  }
  
  .mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 120vh;
    max-height: 160vh;
    background-color: var(--morado-claro);
    margin-top: -2%;
  }
  
  .card-datos {
    border: 2px solid rgba(32, 3, 50, 0.2);
    background-color: var(--morado-claro2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin-top: 2%;
    max-height: 60vh;
    overflow-y: auto;
  }

  .NoBottom{
    margin-top: -2%;
    margin-bottom: -1%;
    text-align: left;
  }

  .justificado{
    text-align: justify;
  }

  .card-datos li{
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .cuadroDatos{
    display: flex;
    flex-direction: column;
  }

  .cuadroDatos label{
    font-size: 1.2rem;
    color: var(--morado-oscuro);
    margin-bottom: 0.5rem;
  }
  
  .titulo {
    font-size: 2rem;
    color: var(--morado-oscuro);
    /* Centramos */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .titulo2 {
    font-size: 1.6rem;
    color: var(--morado-oscuro);
    /* Centramos */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: -0.5rem;
  }
  
  .card-input {
    border: 1px solid var(--morado-oscuro);
    border-radius: 8px;
    background-color: var(--morado-claro);
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .centrar{
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
  
  .boton {
    background-color: var(--morado-oscuro);
    color: var(--morado-claro);
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease;
    margin-bottom: 0%;
  }

  .parrafoCentrar{
    text-align: center;
    font-size: 1rem;
  }

  .textoHome{
    margin-top: -2rem;
    font-size: 1.2rem;
  }
  
  .boton:hover {
    background-color: #3d004d;
  }
  
  .link-primary {
    color: var(--morado-oscuro);
    text-decoration: none;
  }
  
  .link-primary:hover {
    text-decoration: underline;
  }

  /* Media para bajar el ancho del contenedor a 484 px */
  @media (max-width: 484px) {
    .card-datos {
      width: 90%;
      max-width: 300px;
    }
  }
  